<section id="featured-selection">
  <div class="featured-selection-content">
    <div class="featured-actions-container">
        <h1><span>Hallmark</span><br>Realty Management</h1>
    </div>
  </div>
  <video id="featured-video" width="100%" height="100%" autoplay loop muted>
     <source src="../../assets/videos/hero-video.mp4" type="video/mp4" alt="Real Estate Drone Video">
  </video>
</section>
<section>
  <h2>About Hallmark</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ornare luctus ante, non tristique eros bibendum vitae. Vestibulum risus est, accumsan a dui sit amet, sagittis commodo lectus. Suspendisse id dui ac erat lobortis ornare. Maecenas ut eros dapibus, semper quam sit amet, blandit erat. Pellentesque pulvinar erat id nunc vestibulum volutpat. Quisque in purus ac libero faucibus hendrerit at ut libero. Aliquam sit amet lacus ac tortor sollicitudin dignissim. Fusce auctor vulputate euismod. Integer mi ipsum, interdum eu rutrum eu, viverra iaculis libero. Curabitur mattis sagittis justo, quis efficitur augue rhoncus non.</p>
</section>

