<header>
  <a routerLink="/home" class="logo">
    <img src="../../assets/images/hallmark_logo.png" alt="Hallmark Logo" />
  </a>
  <div class="nav-links">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active-link" (click)="toggleNav()">Home</a>
      </li>
      <li>
        <a routerLink="/company" routerLinkActive="active-link" (click)="toggleNav()">Company</a>
      </li>
      <li>
        <a routerLink="/strategy" routerLinkActive="active-link" (click)="toggleNav()">Strategy</a>
      </li>
      <li>
        <a routerLink="/portfolio" routerLinkActive="active-link" (click)="toggleNav()">Portfolio</a>
      </li>
      <li>
        <a routerLink="/whats-new" routerLinkActive="active-link" (click)="toggleNav()">What's New</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active-link" (click)="toggleNav()">Contact</a>
      </li>
    </ul>
  </div>
</header>